.navbar {
    background-color: rgb(0 53 128);
    padding: 40px 40px;
}
.navbar-container {
    color: #fff;
}
.navbar-header {
    display: flex;
    flex-direction: row;
    padding: 0 45px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.navbar-action button {
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(0 53 128);
}
.navbar-menu {
    display: flex;
    flex-direction: row;
}
